 h1{
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size:  1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
 }
 h1:nth-last-of-type(2n){
     background-color:#b572b5 ;
    }
 h1:nth-last-of-type(3n){
     background-color:#060e2b ;
    }
 h1:nth-last-of-type(4n){
     background-color: #514e23;
    }
 

section:first-of-type h1:nth-of-type(1){
    transform: rotate(180deg);
}
section:first-of-type h1:nth-of-type(2){
    transform: scale(0.5);
}
section:first-of-type h1:nth-of-type(3){
    transform: translate(-220px, 100px);
}
section:first-of-type h1:nth-of-type(4){
    transform: translateX(200px);
}
section:nth-of-type(2) h1:nth-of-type(1){
    transform: skew(30deg);
}
section:nth-of-type(2) h1:nth-of-type(2){
    transform: skew(30deg, 15deg);
}
section:nth-of-type(2) h1:nth-of-type(3){
    transform: rotate(-2deg) scale(1.5);
}
section:nth-of-type(2) h1:nth-of-type(4){
    transform: rotate(180deg) scale(1.5) translate(250px);
}